p { color: rgb(9, 122, 5);font-family: 'Rajdhani', sans-serif;}
    h1{ font-weight: bold;
    color: blue;
border: 12px solid ;
margin-right: 650px;
margin-left: 200px;
font-family: 'Rajdhani', sans-serif;
}
*{ color: rgb(45, 4, 4);}
body{background-color: #e9f3f5;}

#demo{ color: blueviolet;}

